@charset "UTF-8";

/* Paleta de cores
verder: #49a09d
lilas: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-pixabay-273209.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}